# Finwise V0.2
# Maak hiervan een bestand met de naam .env in dezelfde map als docker-compose.yml.

POSTGRES_DB=finwise
POSTGRES_USER=finwise
POSTGRES_PASSWORD=CHANGE_ME_TO_A_STRONG_PASSWORD

DATABASE_URL=postgresql://finwise:CHANGE_ME_TO_A_STRONG_PASSWORD@db:5432/finwise?schema=public

NEXTAUTH_SECRET=CHANGE_ME_TO_A_LONG_RANDOM_SECRET
NEXTAUTH_URL=http://192.168.178.252:3000

FINWISE_PORT=3000
